* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

.section {
  flex: 1;
  background-color: var(--cardwrapper-bg-color);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  z-index: 2;
}
h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
h2 {
  color: var(--primary-text-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
}
p {
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: 1.6;
  font-weight: 400;
}
