* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  font-variation-settings: "wdth" 100;
}

.section {
  flex: 1;
  background-color: var(--cardwrapper-bg-color);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  z-index: 2;
}
h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
h2 {
  color: var(--primary-text-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
}
p {
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: 1.6;
  font-weight: 400;
}

.readMoreBtn {
  font-size: 10px;
  cursor: pointer;
  color: var(--secondary-text-color);
  border: none;
  background-color: transparent;
  margin-top: auto;
  align-self: end;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnAll {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 12px;
  padding: 0 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.viewAllIcon {
  font-size: 1.125rem;
}
